<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Sorting</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.Sorting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoggingCheck</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.LoggingCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logging</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.Logging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingSetup</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.SortingSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingTablesList</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.SortingTablesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSortingTable</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.AddSortingTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingTableAddCheck</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.SortingTableAddCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlgorithmsList</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.AlgorithmsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumbersList</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.NumbersList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sorting</servlet-name>
        <url-pattern>/Sorting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggingCheck</servlet-name>
        <url-pattern>/LoggingCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logging</servlet-name>
        <url-pattern>/Logging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingSetup</servlet-name>
        <url-pattern>/SortingSetup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingTablesList</servlet-name>
        <url-pattern>/SortingTablesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSortingTable</servlet-name>
        <url-pattern>/AddSortingTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingTableAddCheck</servlet-name>
        <url-pattern>/SortingTableAddCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlgorithmsList</servlet-name>
        <url-pattern>/AlgorithmsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumbersList</servlet-name>
        <url-pattern>/NumbersList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
