/Projekt/exercise.5/JDBC/build/
/Projekt/exercise.5/JDBC/dist/
/Projekt/exercise.5/JDBC/nbproject/private/
/Projekt/r5/SortingAlgorithms/nbproject/private/
/Projekt/r5/SortingAlgorithms/build/
/Projekt/r5/SortingAlgorithms/dist/
/Labki/Lab6/nbproject/private/
/Labki/Lab6/build/
/Labki/WebJpa/nbproject/private/
/Labki/WebApplication/nbproject/private/
/Labki/WebApplication/build/
/Labki/Calculator/CalculatorClientApp/nbproject/private/
/Labki/Calculator/CalculatorApp/nbproject/private/
/Labki/Calculator/CalculatorClientApp/build/
/Labki/Calculator/CalculatorApp/build/
/Projekt/r6/SortingAlgorithms/nbproject/private/
/Projekt/r6/SortingAlgorithms/build/
/Projekt/r6/SortingAlgorithms/dist/
/Projekt/r6/SortingAlgorithmsClient/nbproject/private/
/Labki/lab_6/ChybaWebServices/nbproject/private/
/Labki/lab_6/ChybaWebServices/build/
/Labki/lab_6/ChybaWebServices/dist/
/Labki/lab_6/ServicesClient/nbproject/private/
/Labki/lab_6/ServicesClient/build/
/Labki/lab_6/SortingAlgorithmsService/nbproject/private/
/Projekt/r6/SortingAlgorithmsService/build/
/Projekt/r6/SortingAlgorithmsClient/build/
/Projekt/r6/SortingAlgorithmsClient2/nbproject/private/
/Projekt/r6/SortingAlgorithmsService/nbproject/private/
/Projekt/r6/SortingAlgorithmsService/dist/
/Projekt/r6/SortingAlgorithmsClient4/build/
/Projekt/r6/SortingAlgorithmsClient4/nbproject/private/
/Projekt/r6/SortingAlgorithmsClient/dist/